@model Cotizador.Models.Clientes

<div>
    <p class="text-primary">Editando El Regitro de:<strong> @Model.nombre @Model.apellido</strong></p>
</div>
<br />
<div class="container-fluid">
  <form id="EditarCliente">
      <div class="form-group">
          <label for="nombre">Nombre *</label>
          <input type="text" class="form-control" placeholder="Ingrese Un Nombre" id="nombre" name="nombre" value="@Model.nombre" />
      </div>
      <div class="form-group">
          <label for="apellido">Apellido *</label>
          <input type="text" class="form-control" placeholder="Ingrese Un Apellido" id="apellido" name="apellido" value="@Model.apellido"/>
      </div>
      <div class="form-group">
          <label for="TipoCliente">Tipo De Cliente *</label>
          @{
                  string tipocliente = null;
                  if (Model.TipoCliente == "Persona")
                  {
                      tipocliente = "Persona";
                  }
                  else { tipocliente = "Empresa"; }
          <select class="form-control" name="TipoCliente" id="TipoCliente">
              <option>Empresa</option>
              <option>Persona</option>
          </select>
              }
      </div>
      <div class="form-group">
          <label for="TipoDNI">Modo De Identificación: *</label>
          <select class="form-control" name="TipoDNI" id="TipoDNI">
              <option>CEDULA</option>
              <option>PASAPOETE</option>
              <option>RNC</option>
              <option>OTRO</option>
          </select>
      </div>
      <div class="form-group">
          <label for="DNI">#Identificación: *</label>
          <input type="text" class="form-control" placeholder="Ingrese Identificación" id="DNI" name="DNI" value="@Model.DNI"/>
      </div>
      <div class="form-group">
          <label for="direccion">Dirección: *</label>
          <input type="text" class="form-control" placeholder="Ingrese La Dirección" id="direccion" name="direccion" value="@Model.direccion"/>
      </div>
      <div class="form-group">
          <label for="telefono">#Telefono: *</label>
          <input type="text" class="form-control" placeholder="Ingrese El Telefono" id="telefono" name="telefono"  value="@Model.telefono"/>
      </div>
      <div class="form-group">
          <label for="email">Correo Eletronico: *</label>
          <input type="email" class="form-control" placeholder="Ingrese El Correo" id="email" name="email" value="@Model.email" />
      </div>
  </form>
</div>

