@model Cotizador.Models.Clientes
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div>
        <h4 class="text-center text-primary">Clientes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoCliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoCliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoDNI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoDNI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DNI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DNI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

        </dl>
    </div>
</body>
</html>
