@model IEnumerable<Cotizador.Models.Clientes>

@{
    ViewBag.Title = "Lista De Clientes";
}

<h2 class="text-center text-primary"><i class="fas fa-list-ul"></i>Lista De Clientes</h2>

<div class="col-lg-2">
    <p>
        <a class="btn btn-primary" href="Nuevo"><i class="fas fa-plus"></i> Agregar Cliente</a>
    </p>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Lista de Clientes
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Buscar Cliente: </label>
                    <button class="btn btn-primary" name="Buscar" id="btnbuscar"><i class="fas fa-search"></i></button>
                    <input type="search" class="form-control" placeholder="Buscar Por Nombre" id="txtBuscar" name="Buscar" />
                    <br />
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoDNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            <a class="btn btn-secondary" onclick="EditarCliente(@item.id)" data-toggle="modal" data-placement="top" title="Editar" data-target="#exampleModal"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" onclick="EliminarCliente(@item.id)" data-toggle="modal" data-target="#exampleModal" data-placement="top" title="Eliminar"><i class="fas fa-times-circle"></i></a>
                            <a class="btn btn-info" onclick="MostrarDetalles(@item.id)" data-toggle="modal" data-target="#exampleModal" data-placement="top" title="Detalles"><i class="fas fa-info-circle"></i></a>
                        </td>
                    </tr>


                }

            </table>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal()" id="btnsecundary">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnprimary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!--Script para buscar los datos utiliando ajax Jquery-->
<script>
    function MostrarDetalles(id) {
        $(document).ready(function () {

            $("#btnprimary").hide();

            $.get('@Url.Action("Detalles", "Clientes")' + "/" + id, function (data, status) {

                $("#modalBody").html(data);
            });
        });
    }
    function EliminarCliente(id) {

        $(document).ready(function () {
            //Operacion de solicitud utilizando ajax
            $("#btnprimary").text("Eliminar Cliente").addClass("btn btn-danger");


            $.get('@Url.Action("Eliminar", "Clientes")' + "/" + id, function (data, status) {

                $("#modalBody").html(data);

            });

            //Ejecutar la funcion de eliminado en caso de que se quiera eliminar.
             $("#btnprimary").click(function () {

                 var idcliente = $("#modelID").text();
                 var datos = { id: idcliente };

                $.post('@Url.Action("ConfDelete", "Clientes")' + "/", datos, function (back, status) {

                    alert(back.Mensaje);
                    location.reload(true);
                });

            });


        });
        

    }
    function CloseModal() {
        //Linpiar El Modal

        $("#btnprimary").show();
        $("#modalBody").html("");

    }
</script>