@model IEnumerable<Cotizador.Models.Clientes>

@{
    ViewBag.Title = "Lista De Clientes";
}

<h2 class="text-center text-primary"><i class="fas fa-list-ul"></i>Lista De Clientes</h2>

<div class="col-lg-2">
    <p>
        <a class="btn btn-primary" href="Nuevo"><i class="fas fa-plus"></i> Agregar Cliente</a>
    </p>
</div>
<!--Mensaje De Aviso de Actividad Para El Usuario-->
<div class="container-fluid" id="AlertBox">
    <div class="row">
        <div class="col-md-5">
            <div class="alert alert-success alert-dismissible fade show" id="UserAlert">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <i class="fas fa-check"></i> El Registro fue Eliminado Correctamente
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Lista de Clientes
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Buscar Cliente: </label>
                    <button class="btn btn-primary" name="Buscar" id="btnbuscar"><i class="fas fa-search"></i></button>
                    <input type="search" class="form-control" placeholder="Buscar Por Nombre" id="txtBuscar" name="Buscar" />
                    <br />
                </div>
                <div class="col-md-5">
                    <br />
                    <br />
                    <label>Mostrado Un Total de Registros: <strong>@Model.Count()</strong></label>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoDNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            <a class="btn btn-secondary" onclick="EditarCliente(@item.id)" data-toggle="modal" data-placement="#exampleModal" title="Editar" data-target="#exampleModal"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" onclick="EliminarCliente(@item.id)" data-toggle="modal" data-target="#exampleModal" data-placement="top" title="Eliminar"><i class="fas fa-times-circle"></i></a>
                            <a class="btn btn-info" onclick="MostrarDetalles(@item.id)" data-toggle="modal" data-target="#exampleModal" data-placement="top" title="Detalles"><i class="fas fa-info-circle"></i></a>
                        </td>
                    </tr>


                }

            </table>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaltitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
               <h1 class="text-center">Cargando...</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal()" id="btnsecundary"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnprimary"><i class="fas fa-check"></i>Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!--Script para buscar los datos utiliando ajax Jquery-->
<script>
    function MostrarDetalles(id) {

        $(document).ready(function () {
            $("#modaltitle").text("Detalle Del Cliente:");
            $("#btnprimary").hide();

            $.get('@Url.Action("Detalles", "Clientes")' + "/" + id, function (data, status) {

                $("#modalBody").html(data);
            });
        });
    }
    function EliminarCliente(id) {

        $(document).ready(function () {
            $("#modaltitle").text("Confirmar Eliminación:");
            //Operacion de solicitud utilizando ajax
            $("#btnprimary").text("Eliminar Cliente").addClass("btn btn-danger");


            $.get('@Url.Action("Eliminar", "Clientes")' + "/" + id, function (data, status) {

                $("#modalBody").html(data);

            });

            //Ejecutar la funcion de eliminado en caso de que se quiera eliminar.
             $("#btnprimary").click(function () {

                 var idcliente = $("#modelID").text();
                 var datos = { id: idcliente };

                $.post('@Url.Action("ConfDelete", "Clientes")' + "/", datos, function (back, status) {

                    alert(back.Mensaje);
                    $("#exampleModal").modal("hide");
                    CloseModal();
                    
                    //location.reload(true);
                });

            });


        });
        

    }
    function EditarCliente(id) {
        $(document).ready(function () {
            $("#modaltitle").text("Editar Cliente");
            $("#btnprimary").text("Guardar Cambios").addClass("btn btn-primary");
            //Obtener el los datos del Cliente Para Ser Editados.
            $.get('@Url.Action("Editar","Clientes")' + "/" + id, function (back, status) {

                
                $("#modalBody").html(back);
                

            });

            $("#btnprimary").click(function () {
                
                if ($("#EditarCliente").submit(ValidarCliente) == true) {

                    var url = '@Url.Action("Editar", "Clientes")' + "/";
                    $.post();
                }

            });

        });

    }
    function ValidarCliente() {
        //Validar los datos introducidos por el Usuario.
        $(":input").each(function () {

            if ($(this).val() == null || $(this).val() == "") {

                $(this).append("<label class='text-danger'>No Puedes Dejar Los Campos Vancios</label>");
            }

        });
       
        
    }
    function CloseModal() {
        //Linpiar El Modal
        
        $("#btnprimary").show();
        $("#modalBody").html("<h1 class='text-center'>Cargando...</h1>");

    }
</script>